body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: white;
}

footer {
  padding: 0 !important;
}

main {
  flex: 1 0 auto;
}

figure {
  background-color: #f7f7f7;
}
.sideNavPanel {
    padding-left: 300px !important;
}
.navBlue {
  background-color: #53a6c3;
}


@media only screen and (max-width: 992px) {
    .sideNavPanel {
        padding-left: 0 !important;
    }
}

#home {
  content: '';
  width: 100%;
  height: 300px;
  background-image: linear-gradient(160deg, #02ccba 0, #aa7ecd 100%);
  transform-origin: left bottom;
}

.card {
  position: left;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);

}

.card:hover {
  box-shadow: 0 2px 4px 0 rgba(46, 61, 73, 0.12);
}

.card .card-content .card-title {
  font-size: 24px !important;
  font-weight: 300;
}

.card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}

.card .card-content p {
  margin: 0;
  color: inherit;
}

.card .card-content .card-title {
  line-height: 48px;
}

.card .card-action {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 20px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #ffab40;
  margin-right: 20px;
  transition: color .3s ease;
  text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: #ffd8a6;
}

.card .inner-container {
  margin-left: 0%;
}

.card .post-image {
  margin-right: 70%;
}

.wrap {
  /*display: flex;*/
  flex-wrap: wrap;
}
.signinForm {
    margin: 2% auto 0 auto;
    padding: 20px;
    width: 400px;
    min-height: 400px;
    background-color: #fff;
    opacity: 0.4;
}

.signinNav {
  background-image: linear-gradient(160deg, #02ccba 0, #4aabc2 100%);

}
.signinPage {
    background-image: linear-gradient(160deg, #02ccba 0, #aa7ecd 100%);
    transform-origin: left bottom;
}
.signinPage::before {
    content: '';
    width: 100%;
    height: 300px;
    background-image: linear-gradient(160deg, #02ccba 0, #aa7ecd 100%);
    transform-origin: left bottom;
}

.input-field input[type=text]:focus+label {
    color: #000;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=email]:focus+label {
    color: #000;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=password]:focus+label {
    color: #000;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
